@import 'reset-css';

.main {
  padding: 0.1rem 1rem 0.1rem;
  font-size: 0.85rem;
  line-height: 0.9;
  box-sizing: border-box;
}
.main h4, .main h5 {
  font-size: calc(0.9rem + 0.2vw);
  margin: 0 0 0.1rem 0;
}
.main code {
  color: #d63384;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 分割线样式 */
.section-divider {
  margin: 0.8rem 0;
  border: none;
  border-top: 1px dashed #253867;
}

/* 分割线样式 2 */
.form-divider {
  margin: 0.8rem 0;
  border: none;
  border-top: 1px dashed #eee;
}

/* 缩小选择框间距 */
.main .semi-form-slot, .main .semi-form-item {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* 减小选择框内边距和表单间距 */
.main .semi-select {
  padding: 0.05rem 0.2rem;
  font-size: 0.85rem;
  min-height: 16px;
  border-width: 1px;
  line-height: 0.8;
  margin: 0;
}
.main .semi-form {
  gap: 0;
  padding: 0;
}
